{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class ="row">
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <input type="hidden"
                   value="{{gameset.id | default_if_none:''}}"
                   id="gameset_active_id">
            <ul class="nav nav-tabs">
              <li class="{%if gameset %}{%else%}active{%endif%}"
                  id="lnk_home"><a id="lnk_gameset_{{gameset.id}}" href="{% url 'change_tab_home' game.id %}">{{game.name}}</a></li>
              {% for gs in gamesets%}
              <li class="{% if gameset.id == gs.id %}active{%endif%}" id="lnk_gameset_{{gs.id}}"><a href="{% url 'change_tab' gs.id%}"
                  id="lnk_gameset_{{gs.id}}">{{gs.category}}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              <div id="tab_game"
                   class="tab-pane fade {%if gameset %}{%else%}in active{%endif%}">

                {% if game.description %}
                {{game.description | default_if_none:''}}
                {% endif %}
                <br>
                <table class="table table-striped">
                  <tr>
                    <th>{% trans 'ranking'%}</th>
                    <th>{% trans 'team_name'%}</th>
                    <th>{% trans 'score'%}</th>
                  </tr>
                {%for res in total_results %}

                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{res.team.name}}</td>
                    <td>{{res.result}}</td>
                    <td></td>
                  </tr>

                {%endfor%}
               </table>
              </div>
              {% for gs in gamesets%}
                <div id="tab_gameset_{{gameset.id}}"
                     class="tab-pane fade {% if gameset.id == gs.id %}in active{%endif%}">
                  {% if gs.playlist%}
                  <table class="table table-striped">
                    <tr>
                      <th>N°</th>
                      <th>{% trans 'interpreter'%}</th>
                      <th>{% trans 'title'%}</th>
                      <th>{% trans 'description'%}</th>
                      <th></th>
                      <th>{% trans 'duration'%}</th>
                      <th>{% trans 'full_listening'%}</th>
                    </tr>
                    {% for p in gs.playlist%}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ p.song.interpreter }}</td>
                      <td>{{ p.song.title }}</td>
                      <td>{{ p.song.description | default_if_none:''}}</td>
                      <td>
                        <audio id="aud_{{p.song.id}}" controls class="audioDemo"
                               preload="none" onclick="start_music({{p.song.id}},{{p.song.play_time}})">
                            <source src="{{p.song.audio_file.url}}"
                            type="audio/mpeg">
                        </audio>
                      </td>
                      <td>{{p.song.play_time}} sec.</td>
                      <td>
                        <audio controls class="audioDemo"
                               preload="none" >
                            <source src="{{p.song.audio_file.url}}"
                            type="audio/mpeg">
                        </audio>
                      </td>

                    </tr>
                    {% endfor %}
                  </table>
                  {%endif%}
                  {% if gs.results%}
                  <br>
                  <center>
                  <div style="width:75%;background-color:#CCCCCC;">
                    <table class="table">
                      <tr>
                        <th colspan="{{gs.results|length}}">{% trans 'gameset_score'%}</th>
                      </tr>
                      <tr>
                      {% for result in gs.results%}
                        <td>{{result.team}}</td>
                      {% endfor %}
                      </tr>
                      <tr>
                      {% for result in gs.results%}
                        <td>{%if result.score %}{{result.score}} points{%else%} {% trans 'not_encoded_yet' %}{%endif%}</td>
                      {% endfor %}
                      </tr>
                  </table>
                  </div>
                </center>
                  {% endif %}
                  <a href="{% url 'results_encoding' gs.id %}" class="btn btn-primary">{% trans 'encode_results' %}</a>

                </div>
                {% endfor %}
            </div>

            <br>
          </div>
        </div>
</div>

{% endblock %}
