{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Blindtest</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
		    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        {% block style %}
        {% endblock %}
        <style>
          body { font-family: 'Armata', sans-serif; }
        </style>
    </head>
    <body id="full_view">

      <div class="container">

        {% block content %}
        {% endblock %}
      </div>



      <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/custom.js" %}"></script>

      {% block script %}

      {% endblock %}
    </body>
</html>
